<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408296865090-0p44e36uuvtp91t54rqikiul8nl9a063.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408296865090-0p44e36uuvtp91t54rqikiul8nl9a063</string>
	<key>API_KEY</key>
	<string>AIzaSyADXDLwBYcAZszKJyFV5jm3oBaowfqxI-I</string>
	<key>GCM_SENDER_ID</key>
	<string>408296865090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ghs.fhmapp</string>
	<key>PROJECT_ID</key>
	<string>fhmapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fhmapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408296865090:ios:9b30ec16ac20d2be565cdb</string>
</dict>
</plist>